@import vars
@import fonts
@import libs
@import media-queries
@import functions
@import button-reset

.page
	position: relative
	font-size: 18px
	::selection
		background-color: $text
		color: $inversed

.js-focus-visible :focus:not(.focus-visible) // focus-visible polyfill
  outline: none

.focus-visible
	outline: 2px dotted $inversed

[type="button"].focus-visible // for button
	outline: 2px dotted $inversed

a[href]:not([class])
	&:link
		color: $inversed
		text-decoration: underline
		transition: color 0.5s ease, text-decoration 0.5s ease
	&:visited
		color: $visited
	&:hover
		// color: $accent
		text-decoration: none
	&.focus-visible
		outline: 0
		// color: $accent
		text-decoration: none
	&:active
		// color: $active

body
	position: relative
	min-width: 320px
	height: 100vh
	font-family: $main-font
	font-weight: 400
	line-height: 1.5
	color: $text
	background-color: $inversed
	word-wrap: break-word

.responsive-img
	display: block
	max-width: 100%
	height: auto

picture
	display: inline-block
	line-height: 0

.container
	max-width: 90vw
	// padding: 0 1rem
	margin: 0 auto
	overflow: hidden

// Page Header

.page__header
	position: fixed
	z-index: 1000
	width: 100%
	background-color: $inversed
	box-shadow: 0 1px 10px rgba($btn-shadow, 0.2)

.header
	display: flex
	align-items: center
	justify-content: space-between
	@include respond-at(768px)
		padding: rem(27) 0
	&__nav
		position: absolute
		top: 62px
		right: 0
		z-index: -1
		width: 80%
		height: 100vh
		display: flex
		justify-content: center
		align-items: center
		background-color: $inversed
		transform: translateX(100%)
		transition: transform 0.5s ease-in

.header__nav--active
	transform: translateX(0%)

.menu
	margin: -62px 0 0
	padding: 0
	&__item
		list-style: none
		&:not(:last-of-type)
			margin-bottom: 10vh
	&__link
		position: relative
		display: inline-block
		padding: 0 5px
		font-size: 1.25rem
		font-weight: 700
		color: $paragraph
		&::before
			position: absolute
			left: 0
			top: 50%
			width: 100%
			height: 1px
			background-color: $paragraph
			content: ""
			transform: translateY(-50%)
			opacity: 0
		&:hover
			color: $paragraph
			text-decoration: none
			&::before
				opacity: 1
				animation: link-hover 0.25s ease
		&.focus-visible
			outline: 0
			&::before
				opacity: 1
				animation: link-hover 0.25s ease

@keyframes link-hover
	from
		width: 0
	to
		width: 100%

.hamburger
	@include respond-at(768px)
		display: none

.header__nav--visible
	@include respond-at(768px)
		position: relative
		top: 0
		z-index: 10
		width: 100%
		height: 100%
		transform: none
		.menu
			display: flex
			width: 100%
			margin: 0
			justify-content: flex-end
			align-items: center
			&__item
				margin-bottom: 0
				&:not(:last-of-type)
					margin-right: rem(70)
					@include respond-at(1200px)
						margin-right: rem(110)
			&__link
				font-size: rem(13)


// Hero

.hero
	padding-top: rem(140)
	background-color: $tertiary
	@include respond-at(768px)
		padding-top: rem(210)
	@include respond-at(1200px)
		padding-top: 0
	&__container
		@include respond-at(1200px)
			display: flex
	&__content
		margin-bottom: rem(115)
		text-align: center
		@include respond-at(1200px)
			order: 2
			flex-basis: 55%
			margin-top: rem(210)
			margin-bottom: 0
	&__subtitle
		margin-bottom: 3rem
		@include respond-at(768px)
			max-width: rem(465)
			margin-right: auto
			margin-left: auto
	&__images
		position: relative
		padding-bottom: rem(60)
		@include respond-at(1200px)
			order: 1
			flex-basis: 45%
			margin-top: rem(154)
			padding-bottom: 0
	&__pic
		position: relative
		z-index: 10
		text-align: center
	&__img
		max-width: 53vw
		@include respond-at(510px)
			max-width: rem(300)
		@include respond-at(1200px)
			max-width: rem(273)
	&__blob
		position: absolute
		left: 50%
		top: 7vh
		transform: translateX(-50%)

.title
	margin-right: auto
	margin-left: auto
	margin-bottom: 1.5rem
	font-size: rem(26)
	font-weight: 800
	line-height: 1.2
	letter-spacing: 1px
	text-align: center

.hero__title
	@include respond-at(768px)
		font-size: rem(45)
	@include respond-at(1200px)
		max-width: rem(730)
		font-size: rem(60)

.btn
	@include button-reset
	max-width: rem(260)
	padding: rem(20) rem(44)
	font-size: rem(16)
	font-weight: 700
	line-height: 1.2
	color: $inversed
	text-align: center
	text-shadow: 0 1px rgba($text, 0.4)
	background-image: linear-gradient(to right, $hero, $secondary, $secondary, $hero)
	background-color: transparent
	background-size: 200%
	background-position: left
	border-radius: 50px
	box-shadow: 0 4px 15px rgba($btn-shadow, 0.2)
	transition: background-position 0.5s ease
	&:hover
		color: $inversed
		text-decoration: none
		background-position: right
	&.focus-visible
		outline: 0
		background-position: right

.hero__btn
	margin-bottom: rem(70)
	@include respond-at(768px)
		margin-bottom: rem(90)

.facts
	padding-left: 0
	line-height: 1.4
	text-align: left
	@include respond-at(768px)
		display: flex
		justify-content: space-between
		align-items: flex-start
		font-size: rem(20)
	&__item
		position: relative
		padding-left: rem(21)
		list-style: none
		&:not(:last-of-type)
			margin-bottom: rem(21)
			@include respond-at(768px)
				margin-bottom: 0
		&::before
			position: absolute
			left: 0
			top: 5px
			width: 9px
			height: 9px
			border-radius: 10em
			background-color: $secondary
			content: ""

.hero__facts
	max-width: rem(680)
	margin: 0 auto rem(110)
	@include respond-at(768px)
		margin-bottom: rem(150)
	@include respond-at(1200px)
		margin-bottom: 0
	.facts__item
		@include respond-at(768px)
			max-width: rem(286)

.hero__decor
	position: absolute

.decor-line
	fill: $tertiary

// Features

.features
	padding-top: rem(90)
	&__title
		margin-bottom: 3rem
	&__container
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		margin: 0 -16px
	&__item
		max-width: rem(405)
		width: 100%
		border-radius: rem(50)
		background-color: $inversed
		box-shadow: 0 1px 24px rgba($text, 0.2)
		// border: 1px solid rgba($text, 0.2)
		// box-shadow: 0 2px 3px rgba($text, 0.2)
		// @include respond-at(495px)
		// 	border: none
		// 	box-shadow: 0 1px 24px rgba($text, 0.2)
		&:not(:last-of-type)
			margin-bottom: rem(45)
	&__content
		padding: rem(70) rem(22) rem(23)
		text-align: center
	&__img
		width: rem(70)
		height: rem(70)
	&__text
		max-width: rem(245)
		margin: 1.5rem auto 0